# You shouldn't ever have to edit this client ID, however it's here in case you do need it. 
[Discord]
DISCORD_CLIENT_ID = 1337802731594973326

# This will be your Discord ID, it's displayed in embeds to show who sent the embed using the webhook, this will need to be changed to your Discord ID in order to use the GUI and begin uploading using the logger
UID = 0

[Excel Location]

PROD = mission_log.xlsx
TEST = mission_log_test.xlsx

# These are the webhooks that you want the results sent to, they are in the format of PROD = webhook1,webhook2,webhook3
# You can safely ignore the TEST webhook as it's mainly for project developemnt purposes
[Webhooks]
PROD = https://discord.com/api/webhooks/1340492417346044007/RdWxTlYMirqvn6uTM-h-3gwhqVJwecWXSPuyVSxLdAL_m2VcSd74HSMvODESQqAr0d79
TEST = https://discord.com/api/webhooks/1337408289004326913/qdQdCnVpvlbG2bYGp6aITdD8_lzPEyW5KR_cpZS-6DNG_KOZ2IzdPFRTmMm6XcgTMNhR
BAT = https://discord.com/api/webhooks/1337963609367646268/XqRWl_4Ylo6e8_2bXfTio3vtkFfHNAdz_M7nHvMC2mmDPGUneldnqi6xeTiMWNPu8ZE9

# These may have to be changed by you to work correctly with the program, to get new ones you can put a "\:emoji: into a discord channel to get the ID of the emoji you want"
[EnemyIcons]
Automatons = <:hd2bots:1337190442449502208>
Terminids = <:hd2bugs:1337190441170370693>
Illuminate = <:hd2squids:1337190439979319306>
Observation = <:hd2superearth:1305283973978787982>
# Observation is in development and does nothing right now

[SubfactionIcons]
JetBrigade = <:jetbrigade:1340700130218741864>
PredatorStrain = <:predatorstrain:1340700129178419272>
IncinerationCorps = <:incinerationcorps:1355266318705627365>

# You shouldn't need to change these, these change the colour of the embed colour to match the enemy faction that was reported
[SystemColors]
Automatons = 16739693
Terminids = 16761088
Illuminate = 9003210

[DifficultyIcons]
1 - TRIVIAL = <:1TRIVIAL:1337825197541031986>
2 - EASY = <:2EASY:1337825159486246982>
3 - MEDIUM = <:3MEDIUM:1337825158362304623>
4 - CHALLENGING = <:4CHALLENGING:1337825157175185429>
5 - HARD = <:5HARD:1337825155845460009>
6 - EXTREME = <:6EXTREME:1337825154687959080>
7 - SUICIDE MISSION = <:7SUICIDEMISSION:1337825153257574482>
8 - IMPOSSIBLE = <:8IMPOSSIBLE:1337825151370133505>
9 - HELLDIVE = <:9HELLDIVE:1337825149780758653>
10 - SUPER HELLDIVE = <:10SUPERHELLDIVE:1337825148883046471>

[Stars]
GoldStar = <:goldstar:1337818552094163034>
GreyStar = <:greystar:1337818811214069760>

# MO is just the major order icon
[MiscIcon]
MO = <a:easymedal:1233854253077102653>