# You shouldn't ever have to edit this client ID, however it's here in case you do need it.
[Discord]
DISCORD_CLIENT_ID = 1337802731594973326


[Excel Location]
PROD = mission_log.xlsx
TEST = mission_log_test.xlsx


# These are the webhooks that you want the results sent to, they are in the format of PROD = webhook1,webhook2,webhook3
# You can safely ignore the TEST webhook as it's mainly for project developemnt purposes
[Webhooks]
PROD = https://discord.com/api/webhooks/1337228584351436906/fD_Rn1s4wUxY6FDdgKsNPTabd46MOecatbFFAcYaEj9-R8PEwRTdyohdZLf8YAsgEvWz,https://discord.com/api/webhooks/1337219883242491956/4tstgicEoxNX23Pdm9yv6l243r7s_1feKxGNqYaGKeSTdDN9sb1ezly9Dkb2j9yTt5zL   
TEST = https://discord.com/api/webhooks/1337408289004326913/qdQdCnVpvlbG2bYGp6aITdD8_lzPEyW5KR_cpZS-6DNG_KOZ2IzdPFRTmMm6XcgTMNhR


# These may have to be changed by you to work correctly with the program, to get new ones you can put a "\:emoji:" into a discord channel to get the ID of the emoji you want, however we suggest trying them to see, as it simplifies the process for you
[EnemyIcons]
Automatons = <:hd2bots:1337221369380732980>
Terminids = <:hd2bugs:1337221368302927963>
Illuminate = <:hd2squids:1337221366587457606>

# You shouldn't need to change these, these change the colour of the embed colour to match the enemy faction that was reported
[SystemColors]
Automatons = 16739693
Terminids = 16761088
Illuminate = 9003210

# These may have to be changed by you to work correctly with the program, however we suggest trying them to see, as it simplifies the process for you
[DifficultyIcons]
1 - TRIVIAL = <:1TRIVIAL:1337844048320528425>
2 - EASY = <:2EASY:1337844014774354032>
3 - MEDIUM = <:3MEDIUM:1337844013507809371>
4 - CHALLENGING = <:4CHALLENGING:1337844011842666516>
5 - HARD = <:5HARD:1337844010252767537>
6 - EXTREME = <:6EXTREME:1337844009053192254>
7 - SUICIDE MISSION = <:7SUICIDEMISSION:1337844007790837847>
8 - IMPOSSIBLE = <:8IMPOSSIBLE:1337844006503055442>
9 - HELLDIVE = <:9HELLDIVE:1337844004850765834>
10 - SUPER HELLDIVE = <:10SUPERHELLDIVE:1337844003315515542>

# These may have to be changed by you to work correctly with the program, however we suggest trying them to see, as it simplifies the process for you
[Stars]
GoldStar = <:goldstar:1337844021875445810>
GreyStar = <:greystar:1337844018431655997>
